body {
    margin: 0;
    font-size: 1.8vw;
}

header {
    color: white;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, black 60%, white 40%);
    padding-top: 0vw;  
}

#heading {
    padding-top: 10vw;
    font-size: 5vw;
    padding-bottom: 2.5vw;     
}

.fl {
    position: absolute;
    padding-left: 15vw;
    background-color: black;
}

.rl {
    animation: rl 2s ease forwards;
}

@keyframes rl {
    0% {
        margin-left: -100vw;
    }
    
    100% {
        margin-left: 18vw;
    }    
}

#caption {
    margin-left: 13vw;
    animation: moveright0 1s ease forwards;
}

@keyframes moveright0 {
    0% {
      opacity: 0;
      margin-left: 13vw;  
    }
    
    100% {
        opacity: 100%;
        margin-left: 15vw;
    }
}

nav {
    font-size: 1.5vw;
    display: flex;  
    margin-top: 16vw;
    justify-content: space-between;
    animation: moveright1 1s ease forwards;
}

@keyframes moveright1 {
    0%{      
    margin-left: 0vw; 
    }
    
    100% {   
       margin-left: 5vw;
    }
}

.tab {
    position: relative;
    cursor: pointer;
    padding: 1vw;
    border: 1px solid transparent;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}

hr {
    border: none;
    background-color: white;
    height: 0.4vw;
    width: 20%;
    margin-left: 1vw;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.8s ease;
    opacity: 0;
}

.tab:hover hr {
    width: 80%;
    opacity: 1;
}

#profilepic {
    display: flex;    
    height: 47vw;
    margin-top: auto;
    margin-right: 10vw;
    filter: contrast(110%);
    animation: moveright2 1s ease forwards;
}

@keyframes moveright2 {
    0%{
       margin-right: 10vw; 
    }
    
    100% {
       margin-right: 4vw;
    }
}

main {
   margin: 4vw;
}

.sections {
  margin: 5vw 0;  
}

.headings {
    font-size: 2.6vw;
    color: white;    
    background: black;
    border-right: 0.1vw solid black;
    border-radius: 0.4vw;
    padding: 0.5vw 3vw;
    padding-left: 6vw;
    margin-left: -8vw;
    animation: hm 2s ease forwards;
    animation-delay: 2s;
}

@keyframes hm {
    0% {
        margin-left: -8vw;
    }
    
    100% {
        margin-left: -4vw;
    }
}

img {
    filter: grayscale(100%);
}

.itesec {
    margin-top: 2vw;
    animation: md 2s ease forwards;
    animation-delay: 4s;
}

.itesec:hover {
    font-weight: bold;
}

@keyframes md {
    0% {
        margin-top: 2vw;
    }
    
    100% {
        margin-top: 3vw;
    }
}

.skiimg {
    height: 10vw;
}

figure {
    text-align: center;
}

.iteimg {
    height: 4vw;
}

.itearr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    background-color: black;
    border-top: 0.5vw solid black;
    color: white;    
}

#footop {
    display: flex;
    align-items: center;
    background-color: black;
}

#contact {
    color: white;
    background-color: black;
    font-size: 2vw;
    padding: 0vw 6vw;
}

#cdetails {
    font-size: 2vw;
    display: grid;    
    color: white;
    margin-left: auto;
    margin-right: auto;
    line-height: 2;
    padding: 1vw 0;
}

#smalin {
    font-size: 1.1vw;
    color: black;
    background-color: white;
    padding: 0.5vw 0;
}

a {
    color: white;
    text-decoration: none;
    display:flex;
    align-items: center;
}

.proimg {
    height: 46vw;
    filter: grayscale(90%);
    border-top: 0.5vw solid black;
    border-bottom: 0.5vw solid black;
    border-left: 4vw solid black;
    border-right: 4vw solid black;
    border-bottom-right-radius: 1.4px;
    border-bottom-left-radius: 1.4px;
    border-top-left-radius: 1.4px;
    border-top-right-radius: 1.4px;
    margin: 4vw 0;
}

.proimg:hover {
    border-left: 0.5vw solid black;
    border-right: 0.5vw solid black;
    height: 47.5vw;
}

.prolin {
    color: white;
    background-color: black;
    margin: 0 -4vw;
   text-decoration: none;
   font-size: 4vw;
   display: flex;
   justify-content: center;
}

.prolin:hover {
    color: black;
    background-color: white;
}

.cerimg {
    height: 25vw;
    margin: 2vw;
    border-left: 2vw solid black;
    border-right: 2vw solid black;
    border-bottom: 0.5vw solid black;
    border-top: 0.5vw solid black;
    border-bottom-right-radius: 1.4px;
    border-bottom-left-radius: 1.4px;
    border-top-left-radius: 1.4px;
    border-top-right-radius: 1.4px;
    filter: grayscale(90%);
}

.cerimg:hover {
    height: 26.5vw;
    border-left: 0.5vw solid black;
    border-right: 0.5vw solid black;
}

#cercon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
		 
