body {
    margin: 0;
    font-size: 1.2vw;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media(min-width:600px) {
    body {
        font-size: 1.4vw;
    }
    
    header {
    color: white;
    display: flex;
    justify-content: space-between;
    background: black;
}
    #heading {
    padding-top: 8vw;  
}

    #headingm {
        display: none;
    }

    #profilepic {
    display: flex;    
    height: 40vw;
    margin-top: auto;
    margin-right: 10vw;
    filter: contrast(120%);
}
    
    .fl {
    position: absolute;
    padding-left: 15vw;
    background-color: black;
    font-size: 4.5vw;
    font-weight: 600;
}

    #caption {
    margin-top: 2vw;
    margin-left: 15vw;
 }
 
     #captionm {
         display: none;
     }
    
    nav {
    font-size: 1vw;
    display: flex;  
    justify-content: space-between;
    margin-top: 9vw;
    margin-left: 4vw;
}
    .tab {
    position: relative;
    cursor: pointer;
    pointer-events: auto;
    padding: 1vw;
    border: 1px solid transparent;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}

    .headings {
    font-size: 2vw;
    color: white;    
    background: black;
    border-right: 0.1vw solid black;
    border-radius: 0.4vw;
    padding: 0.5vw 2vw;
    padding-left: 6vw;
    margin-left: -8vw;
    animation: hm 2s ease forwards;
    animation-delay: 2s;
}

@keyframes hm {
    0% {
        margin-left: -8vw;
    }
    
    100% {
        margin-left: -6vw;
    }
}
   .prolin {
    color: white;
    background-color: black;
    margin: 0 -4vw;
   text-decoration: none;
   font-size: 2vw;
   display: flex;
   justify-content: center;
   animation: pl 1s ease infinite;
}

@keyframes pl {
    0% {
        color: white;
    background-color: black;
    }
    
    50% {
        color: black;
    background-color: white;
    }
    
    100% {
        color: white;
    background-color: black;
    }
}

    footer {
        color:white;
        background: black;       
    }
    
    .conres {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    #cheading {
        font-size: 2.5vw;
    }
    
    #cdetails {
    color: white;
    line-height: 2.5;
    display: grid;
}
    #cdetails > a {
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
    }
    
    #cdetails svg {
        padding-right: 1vw;
    }
    
    #resdet > a {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    footer svg {
        width: 2vw;
        height: 2vw;
    }
    
    #smalin {
        font-size: 0.8vw;
        margin: 2vw 0 1vw;
    }
}

@media(max-width: 599px) {
    footer {
        color:white;
        background: black;
        display:grid;        
    }
    
     #contact,#resdet {
        margin: 10vw 0;
    }
    
    #cheading {
        text-align: center;
        font-size: 5vw;
    }
    
    #cdetails {
    color: white;
    line-height: 2.5;
    display: grid;
}
    #cdetails > a {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
    
    #cdetails svg {
        padding-right: 1vw;
    }
    
    #resdet > a {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    footer svg {
        width: 5vw;
        height: 5vw;
    }
    
    #smalin {
        font-size: 1vw;
        margin: 1vw 0;
    }
    
    .headings {
        font-size: 4vw;
        background-color: black;
        color: white;
        padding: 0vw 1vw;
        border: 1vw solid transparent;
        border-radius: 3px;
    }
    
    body {
        font-size: 3vw;
    }
    
    header {
        color:white;
        background: black;
    }
    
    #heading {
        display: none;
    }
    
    #headingm {
        font-size: 8vw;
        text-align: center;
        animation: mobileheading 1.5s ease forwards;
    }
    
    @keyframes mobileheading{
        0% {
            color: white;
        }
        
        25% {
            color: black;
        }
        
        50% {
            color: white;
        }
        
        75% {
            color: black;
        }
        
        100% {
            color: white;
        }
    }
    
    #caption {
        display: none;
    }
    
    #captionm {
        text-align: center;
        font-size: 3.5vw;
    }
    
    nav {
        margin: 10vw 0 2vw;
        text-align: center;
        font-size: 3vw;
    }
    
    .tab {
    cursor: pointer;
    pointer-events: auto;
    padding: 1.9vw;
    margin: 0 7vw;
    border: 1px solid transparent;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}
    .prolin {
        font-size: 5vw;
        color: white;
    background-color: black;
    margin: 0 -4vw;
   text-decoration: none;
   display: flex;
   justify-content: center;
   animation: pl 1s ease infinite;        
    }
    
    
@keyframes pl {
    0% {
        color: white;
    background-color: black;
    }
    
    50% {
        color: black;
    background-color: white;
    }
    
    100% {
        color: white;
    background-color: black;
    }
}

    #profilepic {
        display: none;
    }
      
}


.letters {
    display: flex;
    align-items: center;
    line-height: 2;
}

.rl {
    animation: rl 2s ease forwards;   
    font-size: 3vw;
}

@keyframes rl {
    0% {
        margin-left: -100vw;
    }
    
    100% {
        margin-left: 17.9vw;
    }    
}

main {
   margin: 4vw;
   flex: 1;
}

.sections {
  margin: 10vw 0;  
}

img {
    filter: grayscale(100%);        
}

.achiimg, .proimg, .cerimg {
    border: 0.5vw solid black;
    border-radius: 0.5vw;
}

img:hover {
    filter: grayscale(0%);
}

.achiimg:hover {
    border: 0.2vw solid black;
}

.proimg:hover {
    border: 0.2vw solid black;
}

.cerimg:hover {
    border: 0.2vw solid black;
}

.itesec {
    margin-top: 4vw;
    animation: md 2s ease forwards;
    animation-delay: 4s;
}

.itesec:hover {
    font-weight: 500;
    font-size: 1.5vw;
}

@keyframes md {
    0% {
        margin-top: 4vw;
    }
    
    100% {
        margin-top: 5vw;
    }
}

.skiimg {
    height: 8vw;
}

figure {
    text-align: center;
}

.iteimg {
    height: 3vw;
}

.itearr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.proimg {
    height: 40vw;
    margin: 3vw;
}

.cerimg {
    height: 30vh;
    margin: 1.5vw;
}

#cercon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.achiimg {
    height: 30vw;    
}

